.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	color: white;
}

button {
	font-size: 18px;
}

.filters > button {
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	transform: translateY(25%);
	margin-right: 30px;
}

.filters > button:hover {
	opacity: 90%;
}
